{% import 'macros/_coaster_stats.html.twig' as coasterStats %}

{% extends 'base.html.twig' %}

{% block body %}
    {#    <h2 class="mb-3">{{ coaster.name }}</h2>#}
    {#    <p class="text-muted">{{ coaster.park }} – <em>{{ coaster.country }}</em></p>#}

    <div class="coaster-detail-card mb-4">
        <div class="position-relative coaster-image-wrapper">
            <img src="{{ coaster.image }}" class="img-fluid rounded" alt="{{ coaster.name }}">

            <div class="coaster-image-title">
                <h2 class="mb-0">{{ coaster.name }}</h2>
            </div>

            <div class="coaster-image-meta">
                <span>{{ coaster.park }}</span>
                <span class="mx-1">–</span>
                <em>{{ coaster.country }}</em>
            </div>

            {% if coaster.ridden %}
                <span class="badge common-ridden-badge position-absolute top-0 end-0 m-2">
            Gefahren
        </span>
            {% endif %}
        </div>


        <div class="mt-4">
            <h5 class="mb-3">Technische Daten</h5>

            <div class="coaster-stats-wrapper">
                {{ coasterStats.stats(coaster.track) }}
            </div>
        </div>

        {{ component('Ratings', {
            'avgRating': coaster.avgRating,
            'userRating': coaster.userRating,
            'avgCategories': coaster.avgCategories,
            'userCategories': coaster.userCategories
        }) }}
    </div>


    {#    <button class="btn ridden-btn {{ buttonClass }} w-100"#}
    {#            data-action="click->live#action"#}
    {#            data-live-action-param="toggleSeen"#}
    {#            data-live-id-param="{{ coaster.id }}"#}
    {#            {% if not app.user %}disabled title="Login zum Markieren"{% endif %}#}
    {#            onclick="event.stopPropagation();">#}
    {#        {{ ux_icon(coaster.isSeen ? 'lucide:check-circle' : 'lucide:circle', {style: 'height: 1.2em; width: 1.2em;'}) }}#}
    {#        {{ coaster.isSeen ? 'Gefahren' : 'Nicht gefahren' }}#}
    {#    </button>#}
    <div class="mb-3">
        <button class="btn ridden-btn btn-success w-100">Gefahren</button>

    </div>
{% endblock %}
