<footer class="footer-nav">
    <nav class="d-flex justify-content-around text-center">
        <a href="{{ path('app_home') }}" class="nav-link">
            <i>{{ ux_icon('material-symbols:compare', {style: 'height: 2.5em; color: #fff'}) }}</i>
            <div>Vergleichen</div>
        </a>
        <a href="{{ path('app_collection') }}" class="nav-link">
            <i>{{ ux_icon('codicon:collection', {style: 'height: 2.5em; color: #fff'}) }}</i>
            <div>Sammlung</div>
        </a>
        <a href="{{ path('app_ranking') }}" class="nav-link">
            <i>{{ ux_icon('solar:ranking-line-duotone', {style: 'height: 2.5em; color: #fff'}) }}</i>
            <div>Ranking</div>
        </a>
        <a href="{{ path('app_home') }}" class="nav-link">
            <i>{{ ux_icon('codicon:account', {style: 'height: 2.5em; color: #fff'}) }}</i>
            <div>Profil</div>
        </a>
    </nav>
</footer>
