{% macro coaster_card(coaster) %}
    <div class="card coaster-card shadow-sm h-100 text-center">
        {% set name = coaster.name ?? '' %}
        {% set image = coaster.image ?? '' %}
        {% set park = coaster.park ?? '' %}
        {% set country = coaster.country ?? '' %}

        <img src="{{ image }}" class="card-img-top" alt="{{ name }}">
        <div class="card-body p-2">
            <h5 class="card-title mb-1">{{ name }}</h5>
            <p class="card-text small mb-0">{{ park }}<br><em>{{ country }}</em></p>
        </div>
    </div>
{% endmacro %}

<div{{ attributes }}>
    <div class="row g-3">
        <div class="col-6">
            {{ _self.coaster_card(this.left) }}
        </div>

        <div class="col-6">
            {{ _self.coaster_card(this.right) }}
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 gap-2">
        <button data-action="live#action" data-live-action-param="chooseLeft"
                class="btn btn-lg btn-choice btn-outline-dark flex-fill">
            <i>{{ ux_icon('icons8:left-round', {style: 'height: 1.5em;'}) }}</i> Links
        </button>

        <button data-action="live#action" data-live-action-param="skip"
                class="btn btn-lg btn-choice btn-outline-secondary btn-filled flex-fill">
            <i>{{ ux_icon('material-symbols:refresh', {style: 'height: 1.5em;'}) }}</i> Skip
        </button>

        <button data-action="live#action" data-live-action-param="chooseRight"
                class="btn btn-lg btn-choice btn-outline-dark flex-fill">
            Rechts <i>{{ ux_icon('icons8:right-round', {style: 'height: 1.5em;'}) }}</i>
        </button>
    </div>


</div>
